/* Container Home Start */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 12px;
  padding: 3rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
/* Container Home End */

/* Left Side Start */
.left-side {
  width: 100%;
  /* border: 1px solid black; */
}

.about {
  margin-bottom: 2rem;
}

.about h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.about p {
  line-height: 1.8;
}

.contact {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 4rem;
}

.contact button {
  width: 8rem;
  padding: 0.5rem;
  background-color: rgb(7, 33, 50);
  color: white;
  border-style: none;
  border-radius: 1rem;
}

.contact button a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.contact p {
  font-size: 1.2rem;
}

.contact p a {
  text-decoration: none;
  color: black;
}

.contact p a:hover {
  color: rgb(37, 116, 168);
}

.contact button:hover {
  cursor: pointer;
  color: rgb(7, 33, 50);
  background-color: rgb(37, 116, 168);
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 2.3rem;
}

.social-media i {
  margin-right: 1.5rem;
  font-size: 28px;
}

.social-media i:hover {
  color: rgb(37, 116, 168);
}

.social-media a {
  text-decoration: none;
  color: black;
}
/* Left Side End */

/* Right Side Start */
.right-side {
  width: 80%;
  /* border: 1px solid black; */
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.card-name {
  padding: 1rem;
}

.card-name h2 {
  text-align: center;
}

.card-name p {
  text-align: center;
}
/* Right Side End */

@media only screen and (min-width: 992px) {
  .container {
    flex-direction: row;
    gap: 1rem;
    position: relative;
    top: 8rem;
    z-index: -1;
  }

  .about h2 {
    font-size: 24px;
  }

  .social-media {
    justify-content: flex-start;
    margin-left: 0;
  }

  .social-media i {
    font-size: 32px;
  }

  .card {
    width: 20rem;
    margin-left: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .about h2 {
    font-size: 32px;
  }

  .social-media i {
    font-size: 42px;
  }

  .card {
    width: 30rem;
    margin: auto;
  }
}
